.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 20px 0;
  text-align: center;
}
.location_text {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  color: #6f6f6f;
  padding-bottom: 15px;
  padding-left: 25px;
  border-bottom: 1px solid #dadce0;
}
.footer_content {
  display: flex;
  justify-content: space-between; /* Spacing between left and right */
  align-items: center; /* Vertically center the content */
}
.footerlinks_left {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-left: 15px;
}
.footerlinks_left a {
  margin-right: 25px; /* Add margin between links*/
  text-decoration: none;
  color: #6f6f6f;
  cursor: pointer;
}
.footerlinks_right {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  margin-right: 15px;
}
.footerlinks_right a {
  margin-right: 25px; /* Add margin between links*/
  text-decoration: none;
  color: #6f6f6f;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
  color: #333;
}
.settings-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #70757a;
  font-size: 14px;
  text-decoration: underline;
}
.settings_menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.settings_menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.settings_menu li {
  padding: 10px;
}

.settings_menu a {
  color: black;
  text-decoration: none;
}

.settings_menu a:hover {
  background-color: lightgray;
}
